.mainContainer {
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  height: calc(100vh - 110px);
  overflow: hidden;
}

body {
  font-family: helvetica;
}


summary {
  margin-bottom: 10px;
  cursor: pointer;
}
details {
  transition: .2s all;
  padding: 3px;
}

#tuotanto {margin-right: 12px}
#beta {margin-left: -8px}

#virhe .container div p {
  margin: 0px;
  margin-left: 10px;
  word-break: break-word;
}

#virhe .container div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.493);
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .2s;
}
#virhe .container div:hover {
  background-color: #282828;
}


.elementContainer {
  position: absolute;
  grid-column: 2 / -1;
  overflow: auto;
  max-height: calc(100% - 35px);
  top: 25px;
  width: 100%;
}

.elementContainer div[container-row-element] {
  display: grid;
  margin-left: 10px;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  margin-right: 10px;
}

[container-row-element] summary {
  background: #323232;
  border: 1px solid #727272;
  padding: 10px;
}

[container-row-element] summary a {
  pointer-events: none;
}

[skip-elem] {
  background: #870000;
  opacity: .3;
}

[link-list]::before {
  content: "►";
  width: 0px;
  height: 0;
  color: white; 
}

[skip-elem]:first-child {
  visibility: hidden;
}

[virhe-flag] {
  position: relative;
  background: #85000087;
  box-shadow: -3px 0 red;
}

title.show {
  display: block;
  background-color: #870000;
}

title.show::before {
  content: "title: ";
}

cta {
  background: #282828;
  border-left: 3px solid #004cb9;
  margin-left: 50px;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
cta > a:last-of-type {
  padding: 5px;
  background: #0f73a9;
  color: white;
  text-decoration: none;
}

huomio {
  border: 6px solid #ff0000;
  padding: 10px;
  background: #232323;
}