#virhe {
  position: relative;
  overflow: hidden;
}

#virhe .container {
  overflow: auto;
  position: relative;
  height: 100%;
}

#virhe details[open] summary {
  box-shadow: -5px 0 #565656;
  padding-left: 5px;
  background: #1d1d1d;
}

#tuotanto {margin-right: 12px}
#beta {margin-left: -8px}

#virhe .container div p {
  margin: 0px;
  word-break: break-word;
}

#virhe .container div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.493);
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: all .2s;
}
#virhe div.selected {background: #4f4f4f}
#virhe .container div:hover {background-color: #282828}
#virhe .container div.selected:hover {background-color: #5c5c5c}
